# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# Environment variables / secrets
.env

# Raw data
data/*.csv
data/*.zip

# Trained models
models/*
!models/.gitkeep

# MLflow
mlruns/
mlartifacts/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/

# MLflow
mlflow.db
mlruns/
mlartifacts/